table {
  margin: 10px 0;
  width: 100%;
  border-collapse: collapse;
}

button {
  cursor: pointer;
}

th,
td {
  border: black 1px solid;
}
.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.container-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.container-dropdown {
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

.container-name-input {
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

.create-container-btn {
  width: 200px;
  height: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.create-container-btn:hover {
  background-color: #45a049;
}
.upload-div {
  margin-top: 20px;
}
